@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Changa', sans-serif;
}

body{
    position: relative;
}

.container{
    width: 100%;
    height: 100vh;

    overflow-y: scroll;

    scroll-snap-type: y mandatory;

    scroll-behavior: smooth;

}

.container::-webkit-scrollbar {
    width: 0;
  }

header{
    width: 100%;

    height: 40vh;

    position: absolute;

    top: -50px;

    transition: .5s;
}

header > nav {
    width: 100%;

    height: 55px;

    padding: 10px 40px;

    background: black;
    
    display: flex;
    justify-content: flex-end;
}

header > nav > ul{
    display: flex;

    gap: 20px;
}

header > nav > ul> li> a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

header > nav > ul> li> a:hover{
    color: lightcoral;
    text-decoration: underline;
}

#hanburg-menu-svg{
    display: none;
}

#menu-mobile-div{
    width: 100%;
    height: 100vh;

    position: absolute;

    background: rgba(0, 0, 0, .85);

    display: flex;
    justify-content: center;
    
    padding-top: 20vh;

    z-index: 1;

    display: none;
}

#icon-close-menu-mobile{
    position: absolute;
    top: 15px;
    right: 20px;
}

#menu-mobile-div > ul> li{
    text-align: center;
    cursor: pointer;
}

#menu-mobile-div > ul> li> a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

#menu-mobile-div > ul> li> a:active{
    color: lightcoral;
    text-decoration: underline;
}


section{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    scroll-snap-align: start;

    z-index: 0;
}

section > span{
    font-size: 104px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;

    opacity: 0;
    transform: translatey(-100px);

    transition: 1.5s;
}

.page1{
    background: rgb(255, 102, 0);
}

.page2{
    background: rgb(22, 197, 255);
}

.page3{
    background: red;
}

.page4{
    background: rgb(72, 31, 255);
}

.page5{
    background: black;
}

.anima-center{
    opacity: 1;
    transform: translateY(0px);
}

.show-nav{
    top: 0px;
}

@media(max-width: 768px){
    section > span{
        font-size: 80px;
    }
}

@media(max-width: 425px){
    section > span{
        font-size: 48px;
    }

    #menu{
        display: none;
    }

    #hanburg-menu-svg{
        display: inline-block;
        cursor: pointer
    }
}
